
# ===-----------------------------------------------------------------------===
#
# GIT CONVENIENCE
# ===-----------------------------------------------------------------------===

alias dotgit="env GIT_WORK_TREE=$HOME GIT_DIR=$HOME/.files.git git"


# OVERRIDES
# ===-----------------------------------------------------------------------===

alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
alias ll='ls -FGlAhp'
alias c='clear'



# ===-----------------------------------------------------------------------===
#
# Custom Aliases
# ===-----------------------------------------------------------------------===

# alias to generate a random password
alias generate-password='openssl rand -base64'

alias youtube-download='youtube-dl --add-metadata -x --audio-format mp3 --audio-quality 0'

alias pi='ssh pi@timemachine'

alias combine-pdfs='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

alias up='docker-compose up --build'
alias upd='up -d'

# change directory aliases
# ===-----------------------------------------------------------------------===

if [ -d $HOME/Developer ]; then
   alias developer='cd $HOME/Developer'
   alias dev='cd $HOME/Developer'
fi

if [ -d $HOME/Downloads ]; then
   alias downloads='cd $HOME/Downloads'
   alias down='cd $HOME/Downloads'
fi

if [ -d $HOME/Developer/Xcode ]; then
   alias xcode='cd $HOME/Developer/Xcode'
fi

XCODE_DERIVED_DATA_DIR="$HOME/Library/Developer/Xcode/DerivedData"
if [ -d "${XCODE_DERIVED_DATA_DIR}" ]; then
   alias removederiveddata='rm -rf ~/Library/Developer/Xcode/DerivedData/'
   alias rmderiveddata='rm -rf ~/Library/Developer/Xcode/DerivedData/'
fi

MASTER_STUDIES_DIR="$HOME/Documents/Master Medieninformatik/Semester4"
if [ -d "${MASTER_STUDIES_DIR}" ]; then
   alias studies='cd ${MASTER_STUDIES_DIR}'
fi
